body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
  }
.con-color1{
    background-color: red;
}
.tcolor{
    color: black;
}
#font{
    font-family: Eras Bold ITC;
    font-size: 36px;
}
.image-hover {
    overflow: hidden;
  }
  
  .image-hover img,
  .image-hover .thumb-title {
    transition: transform 0.4s;
    /* Animation */
  }
  
  .image-hover:hover  img {
    transform: scale(1.1);
  }
  
  .image-hover:hover .thumb-title {
    background: #0a62fb;
  }
div a{
    text-decoration: none;
}
.center{
  margin-top: 100px;
  font-family: sans-serif;
}
