body{
    background-color: rgb(255, 255, 255);
}
.con-color1{
    background-color: red;
}
.tcolor{
    color: black;
}
.hv:hover{
    background-color: aqua;
}
.btn-danger{
    background-color: red;
}
